/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "0";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T    &kp Y        &kp U      &kp I       &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G    &kp H        &kp J      &kp K       &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B    &kp N        &kp M      &kp COMMA   &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 2  &mo 1    &lt 3 ENTER  &kp SPACE  &kp ESCAPE
            >;
        };

        NAV {
            display-name = "1";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&bt BT_CLR   &none         &none         &none         &none         &none           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &msc SCRL_UP    &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &msc SCRL_DOWN  &none
&bootloader  &none         &none         &none         &none         &none           &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none           &none
                                         &trans        &trans        &none           &mkp MB1        &mkp MB2        &mkp MCLK
            >;
        };

        SYMBOLS {
            display-name = "2";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS       &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS   &kp EQUAL      &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER   &kp PLUS       &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp DELETE  &kp BACKSPACE  &kp RALT
            >;
        };

        NUMPAD {
            bindings = <
&none  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11    &none    &kp N7  &kp N8  &kp N9  &none  &none
&none  &kp F4  &kp F5  &kp F6  &none    &kp F12    &kp DOT  &kp N4  &kp N5  &kp N6  &none  &none
&none  &kp F1  &kp F2  &kp F3  &none    &none      &kp N0   &kp N1  &kp N2  &kp N3  &none  &none
                       &trans  &trans   &trans     &trans   &trans  &trans
            >;
        };
    };
};
